*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body, html {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: normal;
  overflow: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}