body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0.4rem;
}
#app {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
